:root {
    --header-bgc: #EAEAEA;
    --header-icons: #B1B1B1;
    --notification: #8EDAFC;
    --chat-input: #F3EEEA;
    --sent-message: #D5F9BA;
}


/* Controllo le immagini */
.icon {
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Stilizzo la data dei messaggi */
.time {
    color: gray;
    font-size: small;
    text-align: end;
    margin: 0;
}

/* Creo una classe per strutturare gli header */
.my-header {
    background-color: var(--header-bgc);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Classe per custommizzare le icone degli header */
.my-header i {
    color: var(--header-icons);
    text-decoration: none;
    font-size: 1.5rem;
}

/* Backgroung del sito */
body {
    background-image: linear-gradient(#009688 15%, #DCDBD2 15%);
    height: 100vh;
}

/* Main */
main {
    flex-basis: 100%;
    display: flex;
}

/* Lavoro sulla sidebar dei contatti */
#sidebar {
    flex-basis: 35%;
    flex-shrink: 0;
    height: 90vh;
}

/* Creo l'header della sidebar */
#sidebar-header {
    height: 250px;
    background-color: #fafafa;
}

#top-sidebar {
    height: 100px;
}

/* Notification section */
#notification {
    height: 100px;
    background-color: var(--notification);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#notification .icon {
    width: 80px;
    background-color: white;
    color: var(--notification);
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Creo il main della sidebar */
#sidebar-main {
    background-color: white;
    height: calc(100% - 250px);
}

/* Stilizzo la lista degli utenti */
.contacs-list {
    height: 100%;
    overflow: auto;
    list-style: none;
}

.contacs-list li:hover {
    background-color: gray;
}

/* Lavoro sulla chat */
#chat {
    height: 90vh;
    flex-grow: 1;
}

#header-chat {
    height: 100px;
}

#main-chat {
    height: calc(100% - 180px);
    background-image: url(../assets/img/mine.jpg);
    overflow: auto;
}

#input-chat {
    height: 80px;
    background-color: var(--chat-input)
}

/* Creo i messaggi */
.message {
    padding: 15px 30px;
    border-radius: 15px;
}

.sent {
    justify-content: end;
}

.sent .message {
    background-color: var(--sent-message);
}

.received .message {
    background-color: white;
}